.footer {
  color: #d9d9d9;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 8vw;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.footer-content {
  height: 60px;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 80px;
}

.footer-content-left,
.footer-content-right,
.footer-content-center {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.footer-content-right h2,
.footer-content-center h2 {
  color: white;
}

.footer hr {
  width: 100%;
  height: 2px;
  margin: 50px 0;
  background-color: grey;
  border: none;
}

.footer-copyright {
  text-align: center;
}

@media (max-width: 750px) {
  .footer {
    padding: 20px; 
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
    grid-template-columns: 1fr; 
  }

  .footer-content-left,
  .footer-content-right,
  .footer-content-center {
    align-items: center; 
    text-align: center; 
  }
}