.product-page {
    margin: 0 auto;
    padding: 20px;
  }
  
  .product-page h1{
    font-size: 50px;
    padding-top: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }

  .product-card img{
    height: 70%;
  }
  
  .product-list {
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }